@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "react-toastify/dist/ReactToastify.css";

@font-face {
  font-family: "Lexend_Deca";
  src: local("Lexend_Deca"),
    url("/fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf")
      format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

